<div class="container">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="row card-content white-text" (click)="onClickGroup()">
        <span class="row card-title">{{ group.name}}</span>
        <!-- <i class="material-icons prefix">account_circle</i> -->
      </div>
      <div class="card-action">
        <button type="button" (click)="onClickGroup()" class="btn waves-effect waves-light" name="details">EDIT
        </button>
        <button type="button" (click)="onDeleteGroup()" class="btn waves-effect waves-light" name="details">DELETE
        </button>
      </div>
    </div>
</div>
