<div class="card">
  <div class="card-image" (click)="onClickGroup()">
    <img class="" src={{group.image}}>
  </div>
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">{{group.name}}<i class="material-icons right activator">more_vert</i></span>
    <!-- <button (click)="onClickGroup()" class="btn light-blue cyan">Ir al grupo</button> -->
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4" >{{group.name}}<i class="material-icons right">close</i></span>
    <!-- <button class="btn">Edit</button> -->
    <button data-target="modal1" (click)="onDeleteGroup()" class="btn red lighten-1">Delete</button>
    <div class="row" *ngFor="let payment of group.payments">
        <i class="material-icons prefix">local_offer</i> {{payment.subject}}
    </div>
    <div class="row" *ngFor="let user of group.user">
        <i class="material-icons prefix">person</i> {{user.name}}
    </div>
  </div>
</div>
