<div class="navbar-fixed">
  <nav class="white">
    <ul>
      <li routerLinkActive="active"><a class="grey-text center" href="/groups"><i class="material-icons">home</i></a>
      </li>
      <li routerLinkActive="active" *ngIf="router.url.includes('/groups')"><a class="grey-text center" href="/login"><i
            class="material-icons">logout</i></a>
      </li>
    </ul>
  </nav>
</div>


<div class="title card red lighten-2 z-depth-3 center ">
  <span class="title-text">Your groups list </span>
  <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal light-green z-depth-2">
    <i class="material-icons" (click)="onCreateGroup()">group_add</i>
  </a>
</div>


<div>
  <app-group-item *ngFor="let group of groups" [group]="group"></app-group-item>
</div>
