/* ÚNICO */
div {
    border: 1px solid red;
    width: 100%;
}

.background {
    height: 100%;
    width: 100%;
    background-color: Gainsboro;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #fff;
}
