<div class="title card red lighten-2 z-depth-3 z-depth-3 center ">
  <span class="title-text">{{user.name}}'s details</span>
  <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
    <i class="material-icons red z-depth-2" (click)="onDeleteUser()">delete</i>
  </a>
</div>

<div>
  <app-user-item [user]="user"></app-user-item>
</div>

<div class="title card orange lighten-1 z-depth-3 center ">
  <span class="title-text">{{user.name}}'s payments</span>
</div>

<div>
  <app-payment-item *ngFor="let payment of payments" [payment]="payment"></app-payment-item>
</div>
