    <div class="col s12 m7">
      <div class="card horizontal" (click)="onPaymentDetails(payment.id)">
        <div class="card-image">
          <img src="{{payment.image}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title"><i class="material-icons prefix light-blue-text">local_offer</i>
              {{payment.subject}}</span>
            <span class="card-title"> <i class="material-icons prefix">attach_money</i> {{payment.amount}}</span>
            <p class="card-title"> <i class="material-icons prefix">date_range</i> {{payment.date | date: 'd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>