<div class="card-header d-flex justify-content-between align-items-center">
  <p>{{group.name}}</p>
</div>

<div *ngFor="let user of group.users" (click)="onUserDetails(user.id)">
  <div class="card-header d-flex justify-content-between align-items-center">
    <p>User Name {{user.name}}</p>
    <p>User ID {{user.id}}</p>
    <button (click)="onUserDetails()">Go to User Details</button>
  </div>

</div>

<!-- <div *ngFor="let payment of group.payments" (clicl)="onPaymentDetails(payment.id)">
  <div class="card-header d-flex justify-content-between align-items-center">
    <p>Status: {{payment.status}}</p>
    <p>Subject: {{payment.subject}}</p>
    <p>Amount: {{payment.amount}}</p>
    <p>Payment Id: {{payment.id}}</p>
    <!-- <button (click)="onPaymentDetails()">Go to Payment Details</button> -->
  <!-- </div> -->
<!-- </div> --> -->
<p>GROUP JSON</p>
<p>{{ group | json }}</p>


<div *ngFor="let payment of group.payments" (click)="onPaymentDetails(payment.id)">
  <div class="card-header d-flex justify-content-between align-items-center">
      <p>Status: {{payment.status}}</p>
      <p>Subject: {{payment.subject}}</p>
      <p>Amount: {{payment.amount}}</p>
      <p>Payment Id: {{payment.id}}</p>
      <button (click)="onPaymentDetails()">Go to Payment Details</button>
  </div>
</div>