<footer> 
  <div class="footer-copyright" *ngIf="!admin"> 
    <div class="container">
      <a class="grey-text center" href="/groups"><i class="material-icons">home</i></a>
      <a class="grey-text center" href="/login"><i class="material-icons right">power_settings_new</i></a>
    </div>
  </div>
</footer>
<nav class="nav-extended light-blue cyan z-depth-3">
  <div class="nav-content center">
    <span class="nav-title">{{group.name}}</span>
    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal pulse z-depth-2">
      <i class="material-icons" (click)="onLinkDebts()">account_balance</i>
    </a>
  </div>
</nav>
<nav class="nav-extended teal orange lighten-1 z-depth-3">
  <div class="nav-content center">
    <span class="nav-title">Payments</span>
    <a class="btn-floating btn-large halfway-fab waves-effect waves-light light-green z-depth-2">
      <i class="material-icons" (click)="onLinkCreatePayment()">add_shopping_cart</i>
    </a>
  </div>
</nav>
<div class="row" *ngFor="let payment of payments" (click)="onPaymentDetails(payment.id)">
  <div class="col s12 m7">
    <div class="card horizontal" (click)="onPaymentDetails(payment.id)">
      <div class="card-image">
        <img src="{{payment.image}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title"><i class="material-icons prefix light-blue-text">local_offer</i>
            {{payment.subject}}</span>
          <span class="card-title"> <i class="material-icons prefix">attach_money</i> {{payment.amount}}</span>
          <p class="card-title"> <i class="material-icons prefix">date_range</i> {{payment.date | date: 'd/MM/yyyy'}}</p>

        </div>
      </div>
    </div>
  </div>
</div>
<nav class="nav-extended teal amber lighten-1 z-depth-3">
  <div class="nav-content center">
    <span class="nav-title">Users</span>
    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal light-green z-depth-2">
      <i class="material-icons" (click)="onLinkCreateUser()">person_add</i>
    </a>
  </div>
</nav>
<div class="row" *ngFor="let user of users">
  <div class="col s12 m7">
    <div class="card horizontal" (click)="onUserDetails(user.id)">
      <div class="card-image">
        <img src="{{user.image}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title light-blue-text">{{user.name}}</span>
          <p class="" *ngFor="let payment of user.payments"><i class="tiny material-icons prefix">local_offer</i>
            {{payment.subject}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
