<div>
  <router-outlet></router-outlet>
</div>

<!-- <button (click)="htmlInsideModal.open()">Raw HTML inside modal</button>
<modal #htmlInsideModal>
  <ng-template #modalHeader><h2>HTML inside modal</h2></ng-template>
  <ng-template #modalBody>
    <p>HTML content inside modal</p>
  </ng-template>
</modal> -->
  
<!-- https://materializecss.com/modals.html#! ALERT PREVIO -->
<!-- https://materializecss.com/toasts.html ALERT POST -->
<!-- https://materializecss.com/waves.html#! efectos en los botones -->


<!-- Simple card con tarjeta de info https://materializecss.com/badges.html -->

<!-- https://materializecss.com/footer.html footer -->

<!-- https://materializecss.com/navbar.html nav con icono de acción -->

<!-- https://materializecss.com/feature-discovery.html Tarjeta inferior derecha -->

<!-- Transiciones al eliminar https://materializecss.com/css-transitions.html#! -->