.collection {
    margin-top: 1em !important;
    padding-bottom: 3em;
}
 
.user-card {
    display: flex;
    display: block;
    flex-direction: row;
    width: 60px;
    height: 60px;
    flex-wrap: wrap;
}