<form (ngSubmit)="onSubmitPaymentForm()" #paymentForm="ngForm">
  <input type="text" [ngClass]="{'is-invalid': subject.touched && subject.errors}" placeholder="Subject" name="subject"
    [(ngModel)]="payment.subject" #subject="ngModel" required>
  <div class="invalid-feedback" *ngIf="subject.errors && subject.touched && subject.errors.required">
    Please enter a subject
  </div>

  <input type="text" [ngClass]="{'is-invalid': amount.touched && amount.errors}" placeholder="Amount" name="name"
    [(ngModel)]="payment.amount" #amount="ngModel" required>
  <div class="invalid-feedback" *ngIf="amount.errors && amount.touched && amount.errors.required">
    Please enter a amount
  </div>

  <label>Selecciona un pagador</label>
  <select class="input-field col s12" [ngClass]="{'is-invalid': payer.touched && payer.errors}"  name="payer"
  [(ngModel)]="payment.payer" #payer="ngModel" required>
      <option *ngFor="let user of users" [value]="user.id" [text]="user.name"></option >
  </select>
  <div class="invalid-feedback" *ngIf="payer.errors && payer.touched && payer.errors.required">
      Please select a payer
    </div>

  <div>
    <button type="submit" [disabled]="!paymentForm.valid">Add a Paymnet</button>
  </div>
</form>
