<nav>
  <div class="nav-wrapper light-blue cyan">
    <a href="" class="brand-logo">Free Sign up</a>
  </div>
</nav>
<div class="container">
  <form class="col s12" (ngSubmit)="onSubmitRegister(registerForm)" #registerForm="ngForm">
    <div class="col">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate form-control" [ngClass]="{ 'is-invalid': apiError || email.errors && email.touched }"
          name="email" [(ngModel)]="admin.email" #email="ngModel" required email>
        <label for="icon_prefix">email</label>
        <!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> -->
        <div class="invalid-feedback" *ngIf="email.errors && email.touched && email.errors.required">
          Please chose an email
        </div>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">https</i>
        <input id="icon_telephone" type="password" class="validate form-control" [ngClass]="{ 'is-invalid': apiError || password.errors && password.touched }"
          name="password" [(ngModel)]="admin.password" #password="ngModel" required>
        <label for="icon_telephone">password</label>
        <!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> -->
        <div class="invalid-feedback" *ngIf="password.errors && password.touched && password.errors.required">
          Please enter a password
        </div>
      </div>
      <div class="invalid-feedback" *ngIf="apiError">
        {{ apiError.message }}
      </div>
      <div class="row">
        <div class="form-actions">
          <button type="submit" class="btn btn-block" [disabled]="!registerForm.valid">Register</button>
        </div>
      </div>
    </div>
  </form>
  <nav>
    <div class="nav-wrapper  red lighten-2">
      <a class="brand-logo" [routerLink]="['/login']">Already register?</a>
    </div>
  </nav>
