html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    max-width: 100%;

}

body {
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

select {
    display: block !important;
}

form {
    margin-top: 5%;
}

.title {
    padding: 5%;
    text-align: center;
}

.title-text {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: white;
}

.btn-icon {
    margin: 5%;
}

ul {
    display: flex;
    justify-content: space-between;
  margin: 0% 5%;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    display: inline;
  }
  