@import 'sass/general/vars';
@import 'sass/general/_reset';


//COMPONENTS
@import 'sass/components/users-chip';
@import 'sass/components/item-card';
// @import 'sass/components/inbox';
// @import 'sass/components/chat';

navbar-fixed {
    position: absolute;
    width: 100%;
    padding: 1em 0; 
    bottom: 0;
    background-color: red;
    left: 0;
    // background-color: $color-primary; 
    // color: $color-secondary;
    text-align: center;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
 

        // @media #{$l-device} {
        //     flex-direction: row;
        //     flex-wrap: wrap;
        //     align-items: center;
        // }
    }

    img {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}