//COLOR VARIABLES
$color-primary: #ffd800; 
$color-secondary: #000000; 

$dark-blue: #1F5476;
$ligth-blue: #A3F3EB;
$yellow: #FBD341;
$orange: #FB9A40;
$purple: #845A6D;
$white: #fff;


//DEVICES VARIABLES
$m-device: 'screen and (min-width: 768px)';
$l-device: 'screen and (min-width: 992px)';
$xl-device: 'screen and (min-width: 1200px)';