<nav class="nav-extended">
  <div class="nav-content center">
    <span class="nav-title">{{payment.subject}}</span>
  </div>
</nav>
<div class="col s12 m7">
    <div class="card horizontal" (click)="onPaymentDetails(payment.id)">
      <div class="card-image">
        <img src="https://image.freepik.com/vector-gratis/plantilla-factura-moderna-estilo-ondulado_1017-14520.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title"> <i class="material-icons prefix">attach_money</i> {{payment.amount}}</span>
          <span class="card-title"> <i class="material-icons prefix">date_range</i>   {{payment.date | date: 'd/MM/yyyy'}}</span>
        </div>
        <div>
            <button class="card-title btn"><i class="material-icons prefix ">create</i></button>
            <button class="card-title btn red" (click)="onDeletePayment()"><i class="material-icons prefix " >delete</i></button>
        </div>
      </div>
    </div>
  </div>