<footer> 
  <div class="footer-copyright" *ngIf="!admin"> 
    <div class="container">
      <a class="grey-text center" href="/groups"><i class="material-icons">home</i></a>
      <a class="grey-text center" href="/login"><i class="material-icons right">power_settings_new</i></a>
    </div>
  </div>
</footer>
<nav class="nav-extended">
  <div class="nav-content center">
    <span class="nav-title">{{payment.subject}}</span>
  </div>
</nav>
<div class="col s12 m7">
    <div class="card horizontal" (click)="onPaymentDetails(payment.id)">
      <div class="card-image">
        <img src="{{payment.image}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="card-title"> <i class="material-icons prefix">local_offer</i> {{payment.subject}}</span>
          <span class="card-title"> <i class="material-icons prefix">attach_money</i> {{payment.amount}}</span>
          <span class="card-title"> <i class="material-icons prefix">date_range</i>   {{payment.date | date: 'd/MM/yyyy'}}</span>
        </div>
        <div>
            <!-- <button class="card-title btn"><i class="material-icons prefix ">create</i></button> -->
            <button class="card-title btn red" (click)="onDeletePayment()"><i class="material-icons prefix " >delete</i></button>
        </div>
      </div>
    </div>
  </div>